<nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event)">
  <nz-table #nzTable nzBordered [nzData]="dataList">
    <thead>
    <tr>
      <th colspan="5">Programme de la formation informatique de gestion</th>
    </tr>
    </thead>
    <tbody>


    <ng-container *ngFor="let items of dataList; let i = index">
      <tr>
        <td nzShowExpand [(nzExpand)]="mapOfExpandData[i]"></td>
        <td colspan=4>Quadrimestre {{i + 1}}</td>
      </tr>
      <tr [nzExpand]=mapOfExpandData[i]>
        <td></td>
        <td>ECTS</td>
        <td>Nom de l'unité de l'enseignement</td>
        <td colspan="2">Total des heures</td>
      </tr>
      <tr *ngFor="let val of items" [nzExpand]=mapOfExpandData[i]>
        <td></td>
        <td>{{val.nombre_credit_ue}}</td>
        <td>{{val.nom_ue}}</td>
        <td>{{val.nombre_heure_ue}}</td>
        <td>
          <label nz-checkbox nzValue="{{val.nom_ue}}"></label>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </nz-table>
</nz-checkbox-wrapper>
<div style="display: flex; justify-content: center;">
  <button type="button" class="btn btn-success" (click)="showModal()">Valider</button>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Avertissements" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">

  <div *ngFor="let items of overlapTab" style="display: flex; align-items: baseline; ">
    <i *ngIf="!isCorrect" nz-icon nzType="warning" nzTheme="outline"></i>
    <p [style]="isCorrect?'color: green;':'color: red;'">{{items}}</p>
  </div>
</nz-modal>







