<div class="margin-title">
  <div class="bg-title">
    <h3 style="color:white; margin:0px;">Horaire personnel : </h3>
  </div>
</div>
<div style="margin: 80px">
<app-table-horaire></app-table-horaire>
</div>
<div class="margin-title">
  <div class="bg-title">
    <h3 style="color:white; margin:0px;">Crédits et Heure : </h3>
  </div>
</div>
<div style="margin:80px ;text-align: center; border-radius: 5px">
  <table class="table" >
    <thead>
    </thead>
    <tbody>
    <tr>
      <th scope="row" style="align-content: center">Nombre de crédit(s)</th>
      <td>25</td>
    </tr>
    <tr>
      <th scope="row">Nombre d'heures(s)</th>
      <td>400</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="margin-title">
  <div class="bg-title">
    <h3 style="color:white; margin:0px;">Cours : </h3>
  </div>
</div>
  <div style="display: flex; justify-content: space-around; margin-bottom: 80px;">
    <div>
      <div class="list-group">
        <a class="list-group-item list-group-item-action active">
          Cours pris
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum
          at eros</a>
      </div>
    </div>
    <div>
      <div class="list-group">
        <a class="list-group-item list-group-item-action active">
          Cours pas encore validé
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum
          at eros</a>
      </div>
    </div>
    <div>
      <div class="list-group">
        <a class="list-group-item list-group-item-action active">
          Cours restant
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum
          at eros</a>
      </div>
    </div>
  </div>

