
<div class="table-responsive">
  <nz-table
    #MainTable
    (nzCurrentPageDataChange)="currentPageDataChange($event)"
    [(nzPageIndex)]="Chiffre"
    [nzData]="sheduleTab"
    nzBordered
    nzPageSize="46"
    nzPaginationPosition="both"
  >
    <thead>
    <tr>
      <th></th>
      <ng-container *ngFor="let items of sheduleTab[0] | slice:1;  let i =index; let isEven =even;  ">
        <th *ngIf="isEven" colspan="2" style="background-color:#b666d2;">{{items}}</th>
      </ng-container>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <ng-container *ngFor="let items of sheduleTab[1] | slice:1;  let i =index; let isEven =even;  ">
        <td *ngIf="isEven" colspan="2">{{items}}</td>
      </ng-container>
    </tr>
    <tr *ngFor="let items of MainTable.data  | slice:2; ">
      <ng-container *ngFor="let item of items;">
        <td style="white-space: pre-line; text-align: center">{{item}}</td>
      </ng-container>
    </tr>
    </tbody>
  </nz-table>
</div>
<div style="margin-bottom: 50px; display: flex; flex-direction: column">
  <div class="margin-title">
    <div class="bg-title">
      <h3 style="color:white; margin:0px;">Ajout d'un nouvel horaire : </h3>
    </div>
  </div>
  <nz-upload
    [nzBeforeUpload]="beforeUpload"
    [nzLimit]="1"
    [nzMultiple]="true"
    nzType="drag"
  >
    <p class="ant-upload-drag-icon">
      <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">Click or drag file to this area to upload</p>
    <p class="ant-upload-hint">
      Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files
    </p>
  </nz-upload>
</div>

