
  <table class="table table-sm" style="border-radius: 5px; text-align: center">
  <thead>
  <tr  style="background-color:#b666d2;">
    <th scope="col">Heures\Jours</th>
    <th scope="col">Lundi</th>
    <th scope="col">Mardi</th>
    <th scope="col">Mercredi</th>
    <th scope="col">Jeudi</th>
    <th scope="col">Vendredi</th>
    <th scope="col">Samedi</th>
    <th scope="col">Dimanche</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of heure">

    <td>{{item}}</td>
    <td>cours</td>
    <td>cours</td>
    <td>cours</td>
    <td>cours</td>
    <td>cours</td>
    <td>cours</td>
    <td>cours</td>
  </tr>
  </tbody>
</table>
